

@import url('_variables.scss');
.card.shadow:hover{
    box-shadow: none !important;
}
table{
    font-size: 12px !important;
}
th{
    font-weight: 200;
    display: table-cell;
}
td.no{
    background-color: #82640b;
    color:#fff
}
td.ayah{
    background-color: #cb9f19;
    color:#fff
}
td.ibu{
    background-color: #f8e4a8;
}
.dt-button{
    background-color:#f8e4a8 ;
    border-radius: 4px;
    border:none;
   padding: 5px 25px;
}
.dataTables_filter{
    display: inline;
}
.dt-buttons{
    display: inline;
    margin-left: 15px;
}

.table.dataTable {
    margin-top: 15px;
}